.text-component {
  position: absolute;
  z-index: 101;
  width: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: break-all;
  color: #aaa;
  border: 1px dashed gray;
}
textarea {
  resize: none;
  background: transparent;
  border: none;
  padding: 1px;
  outline: none;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
  font-size: 24px;
  line-height: 28px;
  overflow: hidden;
}

.sketch-temp {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
.sketch-temp.text-pre {
  left: -9999px;
  display: inline-block;
  border: 1px solid red;
  padding: 2px;
  font-family: "PingFang SC", "Microsoft YaHei", "微软雅黑";
  font-size: 24px;
  line-height: 28px;
}
